<div class="example-container mat-elevation-z8">
  <div class="button-row  mat-elevation-z8">
    <mat-grid-list cols="2" rowHeight="50px;">

      <mat-grid-tile>
        <div class="btn upload-btn-wrapper">
          <button type="button" mat-raised-button color="primary">
            Import activites
          </button>
          <input type="file" accept=".txt" (change)="fileUpload($event)" />
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="btn">
          <button type="button" mat-raised-button color="primary" (click)="addActivity()">
            Add activity
          </button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
  <div *ngIf="!activities.length" class="instructions">Please provide valid <strong style="color:#fff">activites.txt</strong> and/or add activity.</div>
  <div class="left-container">
    <form [formGroup]="activityForm" (ngSubmit)="onFormSubmit(activityForm.value, activityForm.valid)">
      <div formArrayName="activityFormArray" *ngFor="let row of activityFormArray.controls; let i = index;">
        <div [formGroupName]="i" class="form-group">
          <div class="index">{{i+1}}.</div>
          <input type="text" formControlName="title" (input)="rowChanged(i)" placeholder="Enter title" />
          <small [hidden]="row.controls.title.valid || (row.controls.title.pristine && !submitted)">
            Title is required.
          </small>


          <input type="text" formControlName="duration" (input)="rowChanged(i)" placeholder="Enter duration (minute)" />
          <small [hidden]="row.controls.duration.valid || (row.controls.duration.pristine && !submitted)">
            Duration is required.
          </small>
        </div>
      </div>
      <div *ngIf="activitiesOverallDuration" class="overall">
        Overall: {{activitiesFormattedOverallDuration}}.
        <div class="button-row">
          <button type="submit" [disabled]="!activityForm.valid && !activities" mat-raised-button color="primary">
            Accommodate
          </button>
          <mat-checkbox [ngClass]="shuffle ? 'shuffle active' : 'shuffle'" color="warm" formControlName="shuffle" (change)="shuffleChange()">Activity shaking</mat-checkbox>
        </div>
      </div>

    </form>
  </div>
  <div class="right-container" *ngIf="exportData.length">
    <div class="export-data">
      <div *ngFor="let teams of exportData; let id = index;">
        <span class="label">(Team {{id+1}})</span>
        <div *ngFor="let activity of teams;" [ngClass]="">
          <span [ngClass]="activity.title === 'Lunch Break' ? 'highlight' : ''">{{activity.start}} : {{activity.title}} ({{activity.duration}} min.)</span>
        </div>
        <div>--</div>
      </div>
      <div class="response-time">API Respone Time: {{responseTime/10}}ms</div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
