.example-container {
  background-color:#111;
  color:#aaa;
  min-width: 300px;
  height:auto;
  margin:0 auto;
  max-width: 800px;
  font-family: 'Inconsolata', monospace;
  font-size:.9em;
  .left-container {
    float:left;
  }
  .instructions {
    height:100%;
    margin:0 auto;
    text-align: center;

  }
  .label {
    color: aquamarine;
  }
  .response-time {
    font-size:.8em;
    color:yellow;
  }
  .highlight {
    background-color: greenyellow;
    color:#000;
  }
  .right-container {
    float: right;
  }
  .right-container, .left-container {
    padding:20px;
  }
  input {
    font-family: inherit;
    padding:2px;
    margin:2px;
    background-color:rgba(#111,.1);
    color:#eee;
    border:1px solid #777;
  }
.shuffle {
  margin-left:20px;
  &.active {
    color: mediumvioletred;
  }
}
  .bold {
    color: green;
    font-weight: bold!important;
  }
  .index {
    width:30px;
    text-align: right;
    display: inline-block;
    color: deeppink;
  }
}

.isbn-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  margin:0;
  padding:20px;

}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}