/* You can add global styles to this file, and also import other style files */

body { margin: 0 5%; background-color: deepskyblue; height:100%; }
html { height:100%;}
.mat-checkbox-frame {
    border-color: darkgray;
  }